.EventsList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.EventsList li {
    flex-basis: 45%; /* adjust the width of each li element */
    margin: 10px;
  }
  
.EventsList img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    max-width: 100%; /* add this to prevent the image from exceeding the width of the container */
  }